VIRTUAL_HOST=subdomain.yourdomain.tld
LETSENCRYPT_HOST=subdomain.yourdomain.tld
VIRTUAL_PATH=/67bbc25f4310f91d219713afe4fba13e5053219e05bdb4afdb3089eba5a75be2
VIRTUAL_DEST=/
VIRTUAL_PORT=8545
VIRTUAL_WS_PORT=8546